/*��8��Ԫ ��Ŀ8-1 Bootstrap��������վ��ҳ*/

/*Ϊҳ��������Ԫ����������ΪMicrosoft YaHei*/

body,button, input, select, h3,  h6 { font-family: Microsoft YaHei}
/*header����*/
.head-top{
    background: #ffff;
    padding: 0.8em 0;
}
.navbar-brand{
    padding: 0 0;
}
/*����ͼƬlogo�Ĵ�С��λ��*/
.navbar-brand>img{
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
    width: 250px;
}
/*�������������˵����ڱ߾ࡢ����ɫ����Ӱ*/
.navbar-default{
    padding: 1.5em 0;
    background-color: #f2f0f1;
    box-shadow: 12px -5px 39px -12px;
}
/*���õ������в˵�a���ӵ���ʽ*/
.navbar-default .navbar-nav>li a {
    top: 10px;
    padding: 0.5em 3em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    color:#919191;
}
/*���õ������˵��������ͣ�ͻ�ȡ����ʱ��״̬*/
.navbar-default .navbar-nav> li >a:hover,
.navbar-default .navbar-nav> li >a:focus {
    background:#D96B66;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
/*���õ������Ҳ�a���ӣ�0.00������ɫ*/
.navbar-right>a{
    color:#D96B66;
}
/*ý���ѯ�����ӿ�С��970pxʱ�������˵������С�������˻��е�����*/
@media (max-width: 970px) {
    .navbar-default .navbar-nav>li a {
        font-size: 1.1em;
    }
}
/*header���ֽ���*/
/*����ģ��*/
/*����������ťǰ�������ͼ��*/
.search{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    min-height: 600px;
    margin-top: -20px;
}
/*�������������div��ʽ���γɰ�ɫ͸������*/
.reservation {
    padding: 60px 60px;
    width:50%;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    margin-top:15%;
    font-weight: 500;
    color: #f2f0f1;
    font-size: 1.2em;
    outline: none;
}
/*����������ť����ʽ*/
.btn{
    width: 50% ;
    background: #D96B66;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.form-control{
    color: #8e908d;
}
.searchbtn{
    text-align: center;
}
/*ý���ѯ������ĻС��768����ʱ����������ɫ������С�����仯*/
@media (max-width: 768px){
    .reservation {
        padding: 20px 20px;
        width: 90%;
    }
}
/*����ģ�����*/
/*������Ʒ*/
.hot h3 {
    margin-top: -20px;
    color: #1A1A1A;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 1em;
    padding: 0 0 0.5em;
    border-bottom: 2px solid #eee;
}
.hot p {
    color: #5fa022;;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.8em;
    margin: 1em 0;
}
.hot {
    padding: 3em 0;
    border: 1px solid #eee;
    margin: 0 0;
}
.hot h6 {
    color: #C15162;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.3em 0;
}
a.morebtn {
    display: block;
    font-size: 1em;
    color: #FFF;
    text-decoration: none;/*ȥ��a�����»���*/
    font-weight: 400;
    background: #D96B66;
    padding: 10px 18px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
a.morebtn:hover{
    background:  #5fa022;
}
@media (max-width: 1024px) {
    a.morebtn{
        max-width:410px;/*���ӿ�С��1024pxʱ��ť��������*/
    }
}
/*������Ʒ����*/
/*��ɫ�Ƽ�*/
/*�������Ͻ�ͼƬ��λ�úͿ���*/
.navbar-brand>img{
    height: auto;
    width:250px;
    margin-right: 5px;
    margin-top: 5px;
}
/*����ѡ��˵���������ɫ*/
.nav-pills>li>a{
    color:#8e908d ;
}
/*����ѡ��˵������ͣ�ͻ�ȡ����ʱ����ɫ��������ɫ*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #5A9522;
}
.choose{
    border: 1px solid silver;
}
/*����ѡ����ݵ�λ��*/
.tab-content{
    margin: 5px;
    text-align: center;/*������ʾ*/
}
/*��ɫ�Ƽ�����*/
/*�ֲ����*/
.pic{
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}
.carousel {
    background: white;
}
/*ý���ѯ�����ӿ�С��992pxʱ��С���ֲ�div�Ŀ��ȣ�ͼƬ����*/
@media (max-width:992px) {
    .pic{
        width: 415px;
    }
}
/*�ֲ�������*/
/*footer����*/
.footer p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    vertical-align: middle;
    margin: 0.4em 0;
}
.footer p a{
    color: #fff;
    text-decoration:none;
}
.footer {
    padding: 1em 0;
    background-color:#D96B66;
}
.footer-right ul {
    padding: 0;
}
.footer-right li {
    display: inline-block;
    margin: 0 1em;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}
/*��������ͼ��Ĵ�С����ɫ*/
.glyphicon{
    font-size: 1.2em;
    color: #f2f0f1 ;
}


*{margin:0;padding:0;}
body{font-size:12px;line-height:1.7;}
li{list-style:none;}

/* content */
#content{width:800px;margin:0 auto;padding:20px;}
#content h1{color:#0088bb;}
#content .item{padding:20px;margin-bottom:20px;border:1px dotted #0088bb;height:300px;}
#content .item h2{font-size:16px;font-weight:bold;border-bottom:2px solid #0088bb;margin-bottom:10px;}
#content .item li{display:inline;margin-right:10px;}
#content .item li a img{width:230px;height:230px;border:none;}
/* menu */
#menu{position:fixed;left:50%;margin-left:400px;top:100px;}
#menu ul li a{
    display:block;
    margin:5px 0;
    font-size:14px;
    font-weight:bold;
    color:#333;
    width:80px;
    height:50px;
    line-height:50px;
    text-decoration:none;
    text-align:center;
}
#menu ul li a:hover,#menu ul li a.current{color:#fff;background:#0088bb;}